*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
   
}
body{
  background-color: black;
}

h1,h2{
    font-size: 2rem;
    color:rgb(56, 48, 75) ;
    background-color: transparent;
    text-align: center;
    margin: 1rem 0;
    word-spacing: 8px;

}
.cont{
    background-color: rgb(158, 164, 230);
    border-radius: 20px;
    margin: 20px;

}
h2{
    margin-bottom: 20px;
}
.sect{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3%;
    height: 500px;


}
.card{
    background-color: white;
    width: 43%;
    height: 50%;
    border-radius: 20px;

}
h3{
    font-size: medium;
    color: rgb(56, 48, 75);
    text-align: center;
    margin: 1rem 0;
    word-spacing: 8px;

}