:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143/ 70%);
    --main-padding: 60px;
    --font-color: #ffffff;
    --black-back: #1f2021;
    --leftPadding: 280px;
    --rightPadding: 280px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-left: var(--leftPadding);
    padding-right: var(--rightPadding);
}

header .container .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-right: 76px;

}

header .container .links a {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: var(--font-color);
    transition: 0.4s;
}

header .container .links a:hover
,header .container .links a.active {
    color: var(--main-color);
}

header {
    background-image:linear-gradient(rgba(45, 45, 45, 0.5), rgba(11, 11, 11, 0.5)), url("https://images.unsplash.com/photo-1543373014-cfe4f4bc1cdf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aGlnaCUyMHJlcyUyMHdhbGxwYXBlcnxlbnwwfHwwfHw%3D&w=1000&q=80");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header .container #logo img {
    width: 40%;
}

header section .landing {
    color:white;
    height: calc(100vh - 200px);
    padding-left: var(--leftPadding);
    padding-right: var(--rightPadding);
  
  
}   

i{
    color:white;
}


